java/dwr.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
DWR is configured using a list of classes that is allows access to.
The order is not important.
-->
<!ELEMENT dwr (
    (new | session | spring)*
)>

<!ELEMENT new EMPTY>
<!ATTLIST new id ID #REQUIRED>
<!ATTLIST new class CDATA #REQUIRED>

<!ELEMENT session EMPTY>
<!ATTLIST session id ID #REQUIRED>
<!ATTLIST session class CDATA #IMPLIED>

<!ELEMENT spring EMPTY>
<!ATTLIST spring id ID #REQUIRED>
<!ATTLIST spring beanName CDATA #IMPLIED>
